.rbc-event, .rbc-day-slot .rbc-background-event {
    /* background-color: #312e81 !important; */
}

.weekend-day {
    background-image: repeating-linear-gradient(45deg, #959595 0, #959595 1px, #e5e5f7 0, #e5e5f7 50%);
    background-size: 10px 10px;
    opacity: 0.5;
}

.rbc-calendar .rbc-active {
    background-color: #6366f1 !important;
    color: #fff !important;
}

.rbc-row-segment {
    padding: 0 5px 0 5px;
}

.rbc-row-segment .rbc-event-content {
    padding: 10px 0;
    text-align: center;
}